body {
  margin: auto 10%;
}

#navbar {
  padding-top: 5em;
}

.pageTitle > h2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.modalForm {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
